<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Environment" value="{{ env_name }}" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
